/*!
 * Start Bootstrap - Landing Page Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/*@media only screen and (max-height: 649px) {
          .intro-header {
              -webkit-justify-content: space-between !important;
              justify-content: space-between !important;
          }
      }*/

body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;

}
.mockup{
    margin-bottom: -4px;
}
.topnav {
    font-size: 14px; 
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.intro-header {

    color: #f8f8f8;
    background: url(../img/backgound.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
  
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: flex-end;
            -ms-flex-pack: center;
                justify-content: flex-end;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: center;
}

.intro-message {
    position: relative;
    padding-top: 10%;
    text-align: center;

}
.icon{
    padding: 0 15px 0 15px;
}
.subcribeForm{
    margin: 0 auto;
    padding-top: 1%;

}
.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 4em;
  padding-bottom: 1%;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
  display: inline-block;
    /* margin-top: -21px; */
    padding-bottom: -3px;
    vertical-align: text-bottom;
}

@media(max-width:767px) {
    .intro-message {
      
    }
  .mockup{
    margin-top: 22px !important;
  }
  
  .btn-span{
    margin-top: 0.6em;
  }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.banner {



}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);

}


.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}

.input {
        width: 400px;
      }
      
      .input__label {
        font-size: 16px !important;
        padding-left: 10px !important;
      }

      .icon--kohana {
        margin-top: 0.75em !important;
        color: #ddd;
        font-size: 22px !important;
      }
      
      .input__label-content {
        padding: 0px 15px !important;
      }
      
      .btn-span { 
        margin-top: 0.9em;
        display: inline-block !important;
      }
      
      .btn {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0px;
        font-family: Arial;
        color: #ffffff;
        font-size: 20px;
        background: #3498db;
        padding: 14px 20px 15px 20px;
        text-decoration: none;
        border: 0px;
      }

      .btn:hover {
        background: #3cb0fd;
        text-decoration: none;
      }